page-register {

    

    .scroll-content {
    }

    ion-content h2 {
        text-align: center;
        color: #210f6e;
        font-family: "Times New Roman", Times, serif;
    }

    form .button-md {
        background: #210f6e;
    }

}
