page-home {

    .text-21-white {
        font-size: 21px!important; 
        color: white;
    }

    .text-14-white-m-l {
        font-size: 14px!important; 
        color: white; 
        margin-left: 2%;
    }

    .text-15-white {
        font-size: 15px!important; 
        color: white;
    }

    .text-12 {
        font-size: 12px;
    }
    
    .width-100-blue {
        width: 100px;
        color: #210f6e;
        border-color: #210f6e;
    }
    
}
